header {
    background-color: rgb(14, 15, 12);
    color:azure;
    padding: 10px;
    margin: 1cm;
    text-align: center;

}
nav li{
    display: inline;
    margin-right: 1cm;
    
}
nav a{
    text-decoration: none;
    color:crimson;
}
p {
    color:rgb(52, 105, 54);
    font-size: 20px;
   
}
main{
    background-color: rgb(207, 127, 127);
    padding: 50px;
}
.foto {
    padding: 10px;
    background-color: rgba(14, 11, 163, 0.651);
    width: 25%; 
}
#inicio{
    color: rgb(168, 8, 2);
}
#origenes {
    color: rgb(168, 8, 2);
}
#decadas{
    color: rgb(168, 8, 2);
}
#campeones{
    color: rgb(168, 8, 2);
}
#circuitos{
    color: rgb(168, 8, 2);
}
section{
    font-style: oblique;
    margin-block-end: 3cm;
}
footer{
    background-color: rgba(130, 87, 170, 0.404);
    -webkit-text-fill-color: blue;
    text-align: center;
    padding: 0.4cm;
}

